### Python ###
# Bytecode and cache
__pycache__/
*.py[cod]
*.pyc
*$py.class
.pytest_cache/
.mypy_cache/

# Packaging and distribution
build/
dist/
*.egg-info/
*.egg
.eggs/
pip-wheel-metadata/
sdist/

# Environments
.env
.venv
venv/
env/
ENV/

# Testing and coverage
.coverage
htmlcov/
.tox/
.nox/
.coverage.*
.cache

# IDEs and Editors
.vscode/
.idea/
*.sublime-*
*.swp
*.swo

# Logs and databases
*.log
*.sqlite
